<section class="container-fluid companies-container py-5">
    <div class="container d-flex justify-center align-items-center">
        <h2 class="text-white">Actualmente trabajo en</h2>
        <img src="assets/mediamonks.jpg" alt="Mediamonks" class="px-2">
    </div>
</section>

<style>
    .companies-container {
        background-color: #000000;
    }

    h2 {
        font-size: 20px;
    }
</style>