---
import Menu from "./Menu.astro";

---

<header class="container py-10 d-flex align-items-center">
    <Menu />
    <h2 class="ps-4">gonzalosoriadev</h2>
</header>

<style>
    h2 {
        font-size: 20px;
        font-weight: 700;
    }
</style>