---
import Menu from "./Menu.astro";

---

<header class="container py-10 d-flex justify-between align-items-center">
    <h2>gonzalosoriadev</h2>
    <Menu />
</header>

<style>
    h2 {
        font-size: 20px;
        font-weight: 700;
    }
</style>