<section class="container">
    <div class="row py-10 my-10 ps-5 ms-5">
        <div class="col-6 d-flex flex-column justify-center">
            <h1 class="mb-10">Frontend & Email Developer</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, cum!</p>
        </div>
        <div class="col-6 d-flex justify-center align-items-center">
            <img src="../assets/rocket.png" alt="">
        </div>
    </div>
</section>

<style>
    h1 {
        font-size: 70px;
        line-height: 73px;
        font-family: var(--playfair);
        font-weight: 700;
    }

    p {
        font-size: 20px;
    }
</style>