<section class="container px-32">
    <div class="row py-20 my-20">
        <div class="col-6 d-flex flex-column justify-center">
            <h1 class="mb-3">Hola<span>!</span> Soy Gonza</h1>
            <h3 class="mb-3">Front End & Email Developer</h3>
            <p>Ayudo a profesionales independientes y emprendedores <br> a obtener una mejor experiencia digital</p>
        </div>
        <div class="col-6 d-flex justify-center align-items-center">
            <img src="../assets/rocket.png" alt="">
        </div>
    </div>
</section>

<style>
    h1 {
        font-size: 70px;
        line-height: 73px;
        font-family: var(--playfair);
        font-weight: 700;
        color: #212529;
    }

    span {
        -webkit-text-stroke: 3px #FECE2F;
        -webkit-text-fill-color: white;
    }

    h3 {
        font-size: 30px;
        font-weight: 700;
        color: #212529;
    }

    p {
        font-size: 18px;
    }
</style>